@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gideon Roman', cursive;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/image1.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #6e4533a6;
    border: 2px solid #6e4533;
    color: #c5988c;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #6e4533;
    color: #c5988c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url("../img/image2.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #3f505d7e;
    border: 2px solid #3f505d;
    color: #c69f93;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #888d99;
    color: #e4d5d1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #3e312e;
    color: #e4d5d1;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #e4d5d1;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #fff;
    /*transform: scale(1.3);*/
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image3.jpeg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a{
    background-color: #443c44a4;
    border: 2px solid #443c44;
    color: #d6c0a9;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #372b1d;
    color: #d6c0a9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}